@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-blue-gradient {
      background-image: linear-gradient(to bottom, #3058BF, #6F30B3D9);
    }
  }

@layer base {
    html {
      font-family: "Roboto", sans-serif;
      background-color: #F4F4F4;
      color: #1A1A1A;
    }
  }